@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: Georgia, "Songti SC", "SimSun", serif;
}

body {
  font-family: var(--font-sans);
}
